Repository TomoShiozawa/shiotomo-dev-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.vue": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier"],
  "*.md": ["prettier"]
}

chore: commit .gitignore.
  .gitignore
Due: none

chore: commit tailwind css config.
  .eslintrc.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: prettier

chore: commit ts config.
  tsconfig.json
  tsconfig.node.json
Due: prettier

chore: commit vite config.
  vite.config.ts
Due: prettier --write, eslint --fix

chore: commit yarn.lock.
  yarn.lock
Due: none

docs: Add README.md.
  README.md
Due: prettier

chore: update .gitignore.
  .gitignore
Due: none

chore: add vue-eslint-parser.
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier

feat: Add HelloWorld.vue.
  index.html
  public/favicon.ico
  src/App.vue
  src/components/HelloWorld.vue
  src/env.d.ts
  src/index.css
  src/main.ts
Due: prettier --write, eslint --fix

chore: add cfn templates.
  cloudformation/acm-route53-waf.yml
  cloudformation/cloudfront.yml
Due: none

chore: update cfn templates.
  cloudformation/acm-route53-waf.yml
Due: none

chore: Add packages.
  package.json
  yarn.lock
Due: prettier

chore: Enable '@' alias in vite config.
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix, prettier

feat: Add AboutView.
  src/App.vue
  src/components/HelloWorld.vue
  src/components/side-bar/SideBar.vue
  src/components/side-bar/SideBarMenu.vue
  src/main.ts
  src/router/index.ts
  src/views/AboutView.vue
Due: prettier --write, eslint --fix

feat: Add Hash Generator.
  package.json
  src/components/side-bar/SideBar.vue
  src/parts/AtomButton.vue
  src/parts/AtomInput.vue
  src/parts/AtomTextArea.vue
  src/router/index.ts
  src/views/AboutView.vue
  src/views/HashGenerator.vue
  yarn.lock
Due: prettier --write, eslint --fix, prettier

feat: rename atoms.
  src/atoms/AtomButton.vue
  src/atoms/AtomInput.vue
  src/atoms/AtomTextArea.vue
  src/views/HashGenerator.vue
Due: prettier --write, eslint --fix

feat: Add dark mode toggle.
  src/App.vue
  src/atoms/AtomToggle.vue
  src/components/side-bar/DarkModeToggle.vue
  src/components/side-bar/SideBar.vue
  tailwind.config.js
Due: prettier --write, eslint --fix

refactor: refactor side bar menu.
  src/components/side-bar/SideBarMenu.vue
Due: prettier --write, eslint --fix

feat: Update side bar menu.
  src/components/side-bar/SideBar.vue
  src/components/side-bar/SideBarAccordion.vue
  src/components/side-bar/SideBarMenu.vue
  src/router/index.ts
Due: prettier --write, eslint --fix

feat: Add UUID Generator.
  package.json
  src/components/side-bar/SideBar.vue
  src/router/index.ts
  src/views/HashGenerator.vue
  src/views/UUIDGenerator.vue
  yarn.lock
Due: prettier --write, eslint --fix, prettier

refactor: delete unused import in uuid generator.
  src/views/UUIDGenerator.vue
Due: prettier --write, eslint --fix

refactor: use label tag for labeling input in hash generator.
  src/views/HashGenerator.vue
Due: prettier --write, eslint --fix

feat: Add Base64Encoder.
  package.json
  src/components/side-bar/SideBar.vue
  src/router/index.ts
  src/views/Base64Encoder.vue
  yarn.lock
Due: prettier --write, eslint --fix, prettier

refactor: change leading of AtomTextArea.
  src/atoms/AtomTextArea.vue
Due: prettier --write, eslint --fix

feat: Add Roulette.
  src/components/side-bar/SideBar.vue
  src/router/index.ts
  src/views/HashGenerator.vue
  src/views/other-tools/SimpleRoulette.vue
Due: prettier --write, eslint --fix

feat: Add molecules for input.
  src/atoms/AtomLabel.vue
  src/molecules/InputTextArea.vue
  src/molecules/InputValue.vue
  src/views/Base64Encoder.vue
  src/views/HashGenerator.vue
  src/views/other-tools/SimpleRoulette.vue
Due: prettier --write, eslint --fix

feat: Add BaseConverter.
  src/atoms/AtomInput.vue
  src/atoms/AtomSelect.vue
  src/components/side-bar/SideBar.vue
  src/molecules/InputSelect.vue
  src/router/index.ts
  src/views/BaseConverter.vue
Due: prettier --write, eslint --fix

feat: Update AtomButton to add diabled props.
  src/atoms/AtomButton.vue
Due: prettier --write, eslint --fix

feat: Add Timer.
  src/components/side-bar/SideBar.vue
  src/router/index.ts
  src/views/other-tools/SimpleTimer.vue
Due: prettier --write, eslint --fix
